{
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
